body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

header {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    background: #e46adc;
    color: white;
    border: 3px solid #000000;
    border-radius: 50px 50px 50px 50px;
    margin: 4rem;
    margin-top: 0.5rem;
}

header:hover {
    transform: scale(1.07)
}

.top-banner {
    background: linear-gradient(135deg, #ea51df, #cd95c8, #e46adc);
    color: rgb(255, 255, 255);
    padding: 0.8rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #000000;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.site-name {
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    transition: transform 0.2s ease, color 0.2s ease;
}

.nav-links a:hover {
    transform: scale(1.1);
    color: #ffffff;
}

.projets-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 4rem auto;
    width: 90%;
}

/* COLONNE GAUCHE */
.projets-texte {
    width: 45%;
}

.texte-cadre {
    border: 3px solid #000;
    padding: 2rem;
    border-radius: 20px;
    background-color: #f8f0fb;
}

.projet-lien {
    display: block;
    margin-bottom: 1.5rem;
    color: #b44dcc;
    font-size: 1.6rem;
    text-decoration: none;
}

.projet-lien:hover {
    text-decoration: underline;
}

/* CARROUSEL */
.carousel {
    position: relative;
    width: 45%;
    height: 380px;
    border: 4px solid black;
    border-radius: 20px;
    overflow: hidden;
}

/* IMAGES */
.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.carousel-images img.active {
    display: block;
}

/* FLECHES SIMPLES */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: black;
    font-size: 3rem;
    cursor: pointer;
    padding: 0;
}

.arrow-left {
    left: -40px;
}

.arrow-right {
    right: -40px;
}

.arrow:hover {
    transform: translateY(-50%) scale(1.1);
}