header {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    background: #e46adc;
    color: white;
    border: 3px solid #000000;
    border-radius: 50px 50px 50px 50px;
    margin: 4rem;
    margin-top: 0.5rem;
}

header:hover {
    transform: scale(1.07);
}

.jeu {
    display: flex;
    align-items: right;
    gap: 2rem;
    margin: 2rem auto;
    padding: 1rem;
    justify-content: flex-start;
}

.jeu img {
    width: 500px;
    height: 500px;
    border-radius: 30px;
    object-fit: cover;
    border: 20px solid #292626;
    margin-left: 0;
}

.jeu img:hover {
    transform: scale(1.07);
}

.jeu .texte {
    flex: 1;
    font-size: 1.7rem;
    line-height: 1.6;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

.sport {
    display: flex;
    align-items: left;
    gap: 2rem;
    margin: 2rem auto;
    padding: 1rem;
    justify-content: flex-start;
}

.sport img {
    width: 500px;
    height: 400px;
    border-radius: 30px;
    object-fit: cover;
    border: 20px solid #5498cc;
    margin-right: 0;
}

.sport img:hover {
    transform: scale(1.07);
}

.sport .texte {
    flex: 1;
    font-size: 1.7rem;
    line-height: 1.6;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}



@media (max-width: 700px) {

    .sport,
    .sport.inverse {
        flex-direction: column;
        align-items: flex-start;
    }

    .sport img {
        width: 100%;
        max-width: 300px;
    }
}