body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

header {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    background: #e46adc;
    color: white;
    border: 3px solid #000000;
    border-radius: 50px 50px 50px 50px;
    margin: 4rem;
    margin-top: 0.5rem;
}

header:hover {
    transform: scale(1.07)
}

h2 {
    text-align: center;
    font-size: 2.8rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Accante {
    display: flex;
    align-items: right;
    gap: 2rem;
    margin: 2rem auto;
    padding: 1rem;
    justify-content: flex-start;
}

.Accante img {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
    border: 5px solid #4e75c7;
    margin-left: 0;
}

.Accante img:hover {
    transform: scale(1.07);
}

.Accante .texte {
    flex: 1;
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

.Médiam {
    display: flex;
    flex-direction: row-reverse;
    align-items: left;
    gap: 2rem;
    margin: 2rem auto;
    padding: 1rem;
    justify-content: flex-start;
}

.Médiam img {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
    border: 5px solid #4bdfea;
    margin-right: 0;
}

.Médiam img:hover {
    transform: scale(1.07);
}

.Médiam .texte {
    flex: 1;
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Archifix {
    display: flex;
    align-items: right;
    gap: 2rem;
    margin: 2rem auto;
    padding: 1rem;
    justify-content: flex-start;
}

.Archifix img {
    border-radius: 20px;
    object-fit: cover;
    border: 5px solid #ea9b24;
    margin-left: 0;
}

.Archifix text {
    flex: 1;
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.top-banner {
    background: linear-gradient(135deg, #ea51df, #cd95c8, #e46adc);
    color: rgb(255, 255, 255);
    padding: 0.8rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #000000;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.site-name {
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    transition: transform 0.2s ease, color 0.2s ease;
}

.nav-links a:hover {
    transform: scale(1.1);
    color: #ffffff;
}